{% extends "base.html" %}

{% block title %}Добавить машину машину{% endblock title %}

{% block css %}
    {% load static %}
    <link href="http://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/css/suggestions.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/css/multi-select-tag.css">
    <link rel="stylesheet" href="{% static 'style/css/rows.css' %}"
{% endblock css %}

{% block content %}
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <form class = 'card p-5' action="{% url "car_cargo:addCar" %}"  method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-text" for="car">Автомобиль</label>
                <input type="text" name="car" id="car" class="form-control" required>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label class="form-text" for="bodyType">Тип кузова:</label>
                    <select class="form-multi-select form-text" id="bodyType" name="bodyType" multiple required>
                        <option value="тентовый">Тентовый</option>
                        <option value="контейнер">Контейнер</option>
                        <option value="открытый конт.">Открытый конт.</option>
                        <option value="площадка без бортов">Площадка без бортов</option>
                        <option value="фургон">Фургон</option>
                        <option value="цельнометалл">Цельнометалл</option>
                        <option value="изотермический">Изотермический</option>
                        <option value="рефрижератор">Рефрижератор</option>
                        <option value="реф. мультирежимный">Реф. мультирежимный</option>
                        <option value="реф. с перегородкой">Реф. с перегородкой</option>
                        <option value="реф. -тушевоз">Реф. -тушевоз</option>
                        <option value="бортовой">Бортовой</option>
                        <option value="самосвал">Самосвал</option>
                        <option value="шаланда">Шаланда</option>
                        <option value="низкорамный">Низкорамный</option>
                        <option value="низкорам.платф.">Низкорам.платф.</option>
                        <option value="телескопический">Телескопический</option>
                        <option value="трал">Трал</option>
                        <option value="балковоз(негабарит)">Балковоз(негабарит)</option>
                        <option value="автобус">Автобус</option>
                        <option value="автовоз">Автовоз</option>
                        <option value="автовышка">Автовышка</option>
                        <option value="автотранспортер">Автотранспортер</option>
                        <option value="бетоновоз">Бетоновоз</option>
                        <option value="битумовоз">Битумовоз</option>
                        <option value="бензовоз">Бензовоз</option>
                        <option value="вездеход">Вездеход</option>
                        <option value="газовоз">Газовоз</option>
                        <option value="зерновоз">Зерновоз</option>
                        <option value="коневоз">Коневоз</option>
                        <option value="контейнеровоз">Контейнеровоз</option>
                        <option value="кормовоз">Кормовоз</option>
                        <option value="кран">Кран</option>
                        <option value="лесовоз">Лесовоз</option>
                        <option value="ломовоз">Ломовоз</option>
                        <option value="манипулятор">Манипулятор</option>
                        <option value="микроавтобус">Микроавтобус</option>
                        <option value="муковоз">Муковоз</option>
                        <option value="панелевоз">Панелевоз</option>
                        <option value="пикап">Пикап</option>
                        <option value="пухтовоз">Пухтовоз</option>
                        <option value="пирамида">Пирамида</option>
                        <option value="рулоновоз">Рулоновоз</option>
                        <option value="седельный тягач">Седельный тягач</option>
                        <option value="скотовоз">Скотовоз</option>
                        <option value="стекловоз">Стекловоз</option>
                        <option value="трубовоз">Трубовоз</option>
                        <option value="цементовоз">Цементовоз</option>
                        <option value="автоцистерна">Автоцистерна</option>
                        <option value="щеповоз">Щеповоз</option>
                        <option value="эвакуатор">Эвакуатор</option>
                        <option value="грузопассажирский">Грузопассажирский</option>
                        <option value="клюшковоз">Клюшковоз</option>
                        <option value="мусоровоз">Мусоровоз</option>
                        <option value="jumbo">Jumbo</option>
                        <option value="20 танк-контейнер">20 танк-контейнер</option>
                        <option value="40 танк-контейнер">40 танк-контейнер</option>
                        <option value="мега фура">Мега фура</option>
                        <option value="допельшток">Допельшток</option>
                        <option value="Раздвижной полуприцеп 20/40">Раздвижной полуприцеп 20/40</option>
                    </select>
                </div>
                <div class="col">
                    <label class="form-text" for="loadingType">Тип загрузки:</label>
                    <select class="form-control form-text" id="loadingType" name="loadingType" multiple>
                        <option value="Боковая">Боковая</option>
                        <option value="Верхняя">Верхняя</option>
                        <option value="Задняя">Задняя</option>
                        <option value="С полной растентовкой">С полной растентовкой</option>
                        <option value="Со снятием поперечных перекладин">Со снятием поперечных перекладин</option>
                        <option value="Со снятием стоек">Со снятием стоек</option>
                        <option value="Без ворот">Без ворот</option>
                        <option value="Гидроборт">Гидроборт</option>
                        <option value="Аппарели">Аппарели</option>
                        <option value="С обрешеткой">С обрешеткой</option>
                        <option value="С бортами">С бортами</option>
                        <option value="Боковая с 2-х сторон">Боковая с 2-х сторон</option>
                        <option value="Налив">Налив</option>
                        <option value="Электрический">Электрический</option>
                        <option value="Гидравлический">Гидравлический</option>
                        <option value="Пневматический">Пневматический</option>
                        <option value="Дизельный компрессор">Дизельный компрессор</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label class="form-text label-row-min" for="capacity">Грузоподъемность, т:</label>
                    <input type="number" step="any" min="0" class="form-control" id="capacity" name="capacity" required>
                </div>
                <div class="col">
                    <label class="form-text label-row-min" for="volume">Объем, м^3:</label>
                    <input type="number" step="any" min="0" class="form-control" id="volume" name="volume" required>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label class="form-text label-row" for="length">Внутренняя длина кузова:</label>
                    <input type="number" step="any" min="0" class="form-control form-text" id="length" name="length" required>
                </div>
                <div class="col">
                    <label class="form-text label-row" for="width">Внутренняя ширина кузова:</label>
                    <input type="number" step="any" min="0" class="form-control form-text" id="width" name="width" required>
                </div>
                <div class="col">
                    <label class="form-text label-row" for="height">Внутренняя высота кузова:</label>
                    <input type="number" step="any" min="0" class="form-control form-text" id="height" name="height" required>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label class="form-text" for="place_from">Откуда:</label>
                    <input type="text" class="form-control" id="place_from" name="place_from" required>
                </div>
                <div class="col">
                    <label class="form-text" for="place_to">Куда:</label>
                    <input type="text" class="form-control" id="place_to" name="place_to" required>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col">
                    <label class="form-text" for="readyFrom">Готов к загрузке с:</label>
                    <input type="date" class="form-control" id="readyFrom" name="readyFrom" required>
                </div>
                <div class="col">
                    <label class="form-text" for="readyTo">Готов к загрузке до:</label>
                    <input type="date" class="form-control" id="readyTo" name="readyTo" required>
                </div>
            </div>
            
            <div class="mb-3">
                <label class="form-text" for="phone">Телефон:</label>
                <input type="tel" class="form-control" id="phone" name="phone" style="max-width: 200px" required>
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label form-text">Комментарий:</label>
                <textarea class="form-control" id="comment" name="comment" rows="5"></textarea>
            </div>                
            <button type="submit" class="btn btn-dark form-text" style="background-color: #217C6F;">Отправить</button>
        </form>
    </div>
{% endblock content %}

{% block javascript %}
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>
    <script src={% static 'style/js/autocompleteAddress.js'%}></script>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/js/multi-select-tag.js"></script>
    <script>
        new MultiSelectTag('bodyType', {placeholder:'Найти'})
        new MultiSelectTag('loadingType', {placeholder:'Найти'})  
    </script>
{% endblock javascript %}