{% extends "base.html" %}

{% block title %}Вход{% endblock title %}

{% block css %}

{% endblock css %}

{% block content %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <form class = 'card p-5' action="{% url "user_app:login" %}"  method="post">
      {% csrf_token %}
      <div class="mb-3">
          <label for="userEmail" class="form-label">Адрес электронной почты</label>
          <input type="email" name="email" class="form-control" id="userEmail" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.</div>
          </div>
          <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Пароль</label>
          <input type="password" name='password' class="form-control" id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-dark" style="background-color: #217C6F;">Отправить</button>
    </form>
</div>
{% endblock content %}

{% block javascript %}

{% endblock javascript %}