<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA_Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Профиль</title>
        {%load static %}
        <link rel="stylesheet" href= {% static 'bootstrap5/css/bootstrap.min.css' %}>
        <link rel="stylesheet" href= {% static 'style/css/style.css' %}>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark top-menu" style="background-color: #217C6F;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url "main:index" %}">BSCAR-GO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg- top-menu">
              <li class="nav-item">
                <a class="nav-link" href="{% url "main:index" %}">Главная страница</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Найти машину</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Найти груз</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "car_cargo:addCar" %}">Разместить машину</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "car_cargo:addCargo" %}">Разместить груз</a>
              </li>
            </ul>
            <ui class="navbar-nav ms-auto mb-2 mb-lg-0">
                <div class="dropdown">
                    <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src={% static '/style/icons/user-regular.svg'%} style="max-width: 30px; max-height: 30px;">
                    </a>
                    <ul class="dropdown-menu">
                      {% if user.is_authenticated %}
                          <li><a class="dropdown-item" href="{% url "user_app:profile" %}">Профиль</a></li>
                          <li><a class="dropdown-item" href="{% url "user_app:logout" %}">Выход</a></li>
                      {% else %}
                          <li><a class="dropdown-item" href="{% url "user_app:login" %}">Вход</a></li>
                          <li><a class="dropdown-item" href="{% url "user_app:registration" %}">Регистрация</a></li>
                      {% endif %}
                    </ul>
                </div>
            </ui>
          </div>
        </div>
    </nav>

        <div class="container min-vh-100 d-flex justify-content-center align-items-center">
            <div class="row">
              {% comment %} <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <img src="profile-picture.jpg" class="img-fluid rounded-circle mb-3" alt="Profile Picture">
                    <h3 class="card-title">{{ user.name }}</h3>
                    <p class="card-text">{{user.email}}</p>
                    <a href="#" class="btn btn-primary">Edit Profile</a>
                  </div>
                </div>
              </div> {% endcomment %}
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">{{ user.name }}</h3>
                    <h4 class="card-title">Обо мне</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non ex eget tortor vehicula iaculis nec sit amet ex. Vivamus quis lorem nec mi tempus blandit.</p>
                    <h3 class="card-title">Контактная информация</h3>
                    <ul class="list-group">
                      <li class="list-group-item">Email: {{user.email}}</li>
                      <li class="list-group-item">Телефон: +1234567890</li>
                      <a href="{% url "user_app:edit_profile" %}" class="btn btn-dark" style="background-color: #217C6F; mmax">Изменить профиль</a>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
       

        <footer>
            <section class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <h4>Информация</h4>
                            <ul class="list-unstyled">
                                <li>ООО "БСКА-УРАЛ"</li>
                            </ul>
                        </div>
    
                        <div class="col-6">
                            <h4>Контакты</h4>
                            <ul class="list-unstyled">
                                <li>Email: bskaUral@gmail.com</li>
                                <li>Номер телефона: +79991259178</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </footer>

        <script src= {% static "bootstrap5/js/bootstrap.bundle.min.js" %}></script>
    </body>
</html>