{% extends "base.html" %}

{% block title %}Грузы{% endblock title %}

{% block css %}
    {% comment %} <link rel="stylesheet" href= {% static 'style/css/demo.css' %}>
        <link rel="stylesheet" href= {% static 'style/css/intlTelInput.css' %}> {% endcomment %}
{% endblock css %}

{% block content %}
    <br/>
    {% for cargo in page_obj %}
        <div class="container" style="max-width: 32rem;">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#general{{cargo.id}}" 
                        type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Общее</button>
                        </li>
                        <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#parameter{{cargo.id}}" type="button" 
                        role="tab" aria-controls="profile-tab-pane" aria-selected="false">Характеристики</button>
                        </li>
                        <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#comment{{cargo.id}}"
                        type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Комментарий</button>
                        </li>
                    </ul>
                </div>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="general{{cargo.id}}" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                        <div class="card-body">
                            <div class="mb-3 row">
                                <div class="col-4">
                                    <h5>{{cargo.name}}</h5>
                                </div>
                                <div class="col-8">
                                    <h6>Откуда: {{cargo.loading_place}}</h6>
                                    <h6>Куда: {{cargo.unloading_place}}</h6>
                                    <h6>Даты: {{cargo.loading_data}} - {{cargo.unloading_data}}</h6>
                                </div>
                            </div>
                            <div class="mb-3">
                                <form action="{% url 'car_cargo:sendCargo' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="cargo_id" name="cargo_id" value="{{ cargo.id }}">
                                    <button type="submit" class="btn btn-dark" style="background-color: #217C6F;">Откликнуться</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id='parameter{{cargo.id}}' role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                        <div class="card-body">
                            <div class="mb-3 row">
                                <div class="col-6">
                                    <h7>Длина: {{cargo.length}} м</h7>
                                </div>
                                <div class="col-6">
                                    <h7>Ширина: {{cargo.width}} м</h7>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-6">
                                    <h7>Высота: {{cargo.height}} м</h7>
                                </div>
                                <div class="col-6">
                                    <h7>Вес: {{cargo.weight}} кг</h7>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-6">
                                    <h7>Объём: {{cargo.volume}} м</h7>
                                </div>
                                <div class="col-6">
                                    <h7>Количество места: {{cargo.count_place}}</h7>
                                </div>
                            </div>
                            {% if cargo.bcash %}
                                <div class="mb-3 row">
                                    <div class="col-6">
                                        <h7>Оплата: наличными</h7>
                                    </div>
                                    <div class="col-6">
                                        <h7>Цена наличными: {{cargo.price_cash}} руб.</h7>
                                    </div>
                                </div>
                            {% endif %}

                            {% if cargo.bcashless %}
                                <div class="mb-3 row">
                                    <div class="col-6">
                                        <h7>Оплата: безналичная</h7>

                                    </div>
                                    <div class="col-6">
                                        {% if cargo.bcashless_nds %}
                                            <h7>Цена с НДС: {{cargo.price_cash_nds}} руб.</h7>
                                        {% endif %}

                                        {% if cargo.bcashless_without_nds %}
                                            <h7>Цена без НДС: {{cargo.price_cash_without_nds}} руб.</h7>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            
                            {% if cargo.request_price %}
                                <div class="mb-3 row">
                                    <h6>Указанная цена ориентировочная</h6>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="comment{{cargo.id}}" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                        <div class="card-body">
                            <h5>{{cargo.comment}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        </br>
    {% endfor %}
    <div class="mb-3" style="margin:0 auto; margin-top: auto">
        {% include 'pagination.html' %}
    </div> 
{% endblock content %}

{% block javascript %}

{% endblock javascript %}